.about img {
	display: block;
	width: 200px;
	margin: 0 auto;
}

.about p {
	max-width: 750px;
	margin: 0 auto;
}

.summary {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	margin-top: 10px;
}

.summary img {
	display: block;
	max-width: 400px;
	margin: 0 auto;

	border-radius: 10px;
}

@media (min-width: 750px) {
	.summary {
		grid-template-columns: 1fr 2fr;
	}
}
