.form {
	display: block;
	width: 100%;
	border: 1px solid var(--main-dark-color);
	border-radius: 3px;
	padding: 3px;
}

.form input,
.form label,
.form textarea {
	width: 100%;
}

.form-field input,
.form-field textarea {
	border: 1px solid var(--main-dark-color);
	border-radius: 3px;
	resize: none;
	padding: 3px;
}

.form-field textarea {
	padding: 0.3em;
}

.note p {
	max-width: 750px;
	margin: 15px auto;
}
