.slideshow {
	position: relative;
	margin: 0 auto;
	width: fit-content;
}

.slideshow .button {
	position: absolute;
	font-size: 32px;
	color: white;
	top: 50%;
	cursor: pointer;
	user-select: none;
}

#button-left {
	left: -1em;
}

#button-right {
	right: -1em;
}

.slideshow-panel {
	display: none;
	width: 100%;
}

.slideshow-panel .image {
	height: 450px;
}

.slideshow-panel .summary {
	height: 2em;
	text-align: center;
}

.single-images {
	margin: 0 auto;
	margin-bottom: 1em;
	width: fit-content;

	display: grid;
	grid-template-columns: 1fr;

	grid-gap: 10px;
	max-width: 800px;
}

.single-image-summary {
	width: calc(5/7 * 5 * 70px);
	margin: 0 auto;

	border: 3px solid var(--main-light-color);
	border-radius: 1em;
	padding: 0.5em;
}

.single-image-summary img {
	height: calc(5 * 70px);
	border-radius: 3px;
}


@media (min-width: 750px) {
	.single-images {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
