:root {
	--main-light-color: #2a9d8f;
	--main-dark-color: #13293d;
	--main-bright-color: #e58f65;
	--main-dull-color: #bac6c9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	background-color: var(--main-dull-color);
	max-width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: unset;
}

.layout-header {
	width: 100%;
	background-color: var(--main-dark-color);
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
}

.layout-banner {
	height: 80px;
}

.layout-banner img {
	width: 100%;
	height: 100%;
}

.layout-header-menu {
	font-size: 32px;
	font-weight: 800;
	margin: 2px 10px;

	color: white;
}

.layout-header-menu a {
	position: relative;
}

#layout-nav-toggle {
	margin-top: -4px;
	float: right;
}

.layout-nav {
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(1, 1fr);
	list-style-type: none;
	transition: max-height 0.3s ease;
	height: auto;
	max-height: 0;
}

.layout-nav-item {
	position: relative;
	text-align: center;
	padding: 0.8em 2em;
}

.layout-nav-item:hover {
	cursor: pointer;
	background-color: var(--main-light-color);
}

.layout-nav-active::after {
	content: "";
	position: absolute;
	width: 80%;
	bottom: 3px;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 2px solid var(--main-bright-color);
}

.layout-content {
	margin: 1em 0.25em;
}

.layout-footer {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin: 0 auto;

	padding: 0.5rem;

	background-color: var(--main-dark-color);
}

.layout-footer-item {
	text-align: center;
	color: white;
}

.layout-footer-item a:hover {
	cursor: pointer;
	color: var(--main-light-color);
}

@media (min-width: 750px) {
	#layout-nav-toggle {
		display: none;
	}

	.layout-header-menu a {
		text-align: center;
		display: block;
	}

	.layout-nav {
		grid-template-columns: repeat(4, 1fr);
		height: auto;
		max-height: 1000px;
	}

	.layout-content {
		margin: 1em;
	}

	.layout-footer {
		grid-template-columns: repeat(3, 1fr);
	}
}
