.content-heading {
	margin-bottom: 1em;
}

.content-heading h1 {
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.content-heading img {
	display: block;
	margin: 0 auto;
	width: 200px;
}

.quote {
	margin-top: 2em;
}
.quote h1 {
	text-align: center;
}

.field {
	width: 100%;
	display: block;
}

.field input, textarea, label {
	width: 100%;
}

.field textarea {
	padding: 0.4em;
}

.field label {
	text-transform: capitalize;
}

@media (min-width: 750px) {
	.content-heading {
		display: grid;
		grid-template-areas:
		"logo title"
		"logo description";
	}

	.content-heading img {
		grid-area: logo;
		width: 150px;
	}

	.content-heading h1 {
		grid-area: title;
		text-align: justify;
	}

	.content-heading p {
		grid-area: description;
	}
}
