.items {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 5px;
}

.item-card {
	cursor: pointer;
	text-align: center;
	border: 1px solid var(--main-dark-color);
	border-radius: 3px;
	padding: 10px;
}

.item-content img {
	width: 200px;
	border-radius: 3px;
}

.item-content p {
	text-align: left;
}

.item-title hr {
	margin-bottom: 1em;
}

@media (min-width: 900px) {
	.items {
		grid-template-columns: repeat(3, 1fr);
	}
}
