<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>

	<link rel="shortcut icon" href="/images/logo/logo.svg" type="image/svg+xml">

	<link rel="stylesheet" href="/css/default-layout.css">
	<script defer src="/js/default-layout.js"></script>

	{% if page.css %}
		{% for css_file in page.css %}
			<link rel="stylesheet" href="{{ css_file | relative_url }}">
		{% endfor %}
	{% endif %}

	{% if page.js %}
		{% for js_file in page.js %}
			<script defer src="{{ js_file | relative_url }}"></script>
		{% endfor %}
	{% endif %}

</head>
<body onresize="on_layout_resize();">
	<div id="layout-top"></div>
	<div class="layout-header">
		<div class="layout-banner">
			<a href="/">
				<img src="/images/banner.jpg" alt="banner image">
			</a>
		</div>
		<div class="layout-header-menu">
			<a class="layout-nav-item {% if page.active_nav == 'Home' %}layout-nav-active{% endif %}" href="/">Home</a>
			<a href="#" id="layout-nav-toggle" onclick="toggle_nav();">&#9776;</a>
		</div>
		<nav id="layout-nav" class="layout-nav">
			<div class="layout-nav-item {% if page.active_nav == 'Services' %}layout-nav-active{% endif %}">
				<a href="/services.html">Services</a>
			</div>
			<div class="layout-nav-item {% if page.active_nav == 'Projects' %}layout-nav-active{% endif %}">
				<a href="/projects.html">Projects</a>
			</div>
			<div class="layout-nav-item {% if page.active_nav == 'Contact Us' %}layout-nav-active{% endif %}">
				<a href="/contact-us.html">Contact Us</a>
			</div>
			<div class="layout-nav-item {% if page.active_nav == 'About Us' %}layout-nav-active{% endif %}">
				<a href="/about-us.html">About Us</a>
			</div>
		</nav>
	</div>

	<div class="layout-content">
		{{ content }}
	</div>

	<div class="layout-footer">
		<div class="layout-footer-item">
			<a href="/about-us.html">About Us</a>
		</div>
		<div class="layout-footer-item">
			<a href="/contact-us.html">Contact Us</a>
		</div>
		<div class="layout-footer-item">
			<a href="https://github.com/CoryEvans2324">github.com/CoryEvans2324</a>
		</div>
	</div>

	<div id="scroll-to-top" class="scroll-to-top" style="display: none;">
		<a href="#layout-top" onclick="document.getElementById('scroll-to-top-playback').play();">
			<img width="50" src="/images/arrow.png" alt="scroll-to-top image">
		</a>
		<audio id="scroll-to-top-playback">
			<source src="/audio/flush.ogg" type="audio/ogg">
		</audio>
	</div>
</body>
</html>
